API_BASE_URL=https://shutter-api.chiado.staging.shutter.network/api
RPC_URL=https://rpc.chiadochain.net
PRIVATE_KEY=0xYOUR_PRIVATE_KEY
PLAYGROUND_ADDR=0x0B05BC0BCe48efb0Dd0777C057D87f9Bf66839b4
DEST_ADDR=0x1111111111111111111111111111111111111111
FROM_ADDR=0x1111111111111111111111111111111111111111
TRANSFER_VALUE=2
TTL=120
POLL_SECONDS=130
POLL_INTERVAL=2
VERBOSE=true
WAIT_REGISTRATION_RECEIPT=false
REGISTRATION_DELAY_SECONDS=2
MAX_CONSEC_TIMEOUTS=5
AUTH_HEADER=
FOUNDRY_DISABLE_NIGHTLY_WARNING=1